* {
  box-sizing: border-box;

}

body {
  padding: 56px;
}

.header-logo {
  display: flex;
}

.header-fs-picture {
  height: 100px;
  width: 300px;
}

.header-bot-picture {
  height: 78px;
  width: 78px;
  margin-left: auto;
}

.chat-window {
  margin-top: 50px;
  height: 400px;
  border-left: 5px solid red;
  border-right: 5px solid red;
  background-color: #FFFAFA	;
  overflow:hidden;
  overflow-y:scroll;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

.chat-picture {
  padding-top: 1px;
  width:55px;
  height:55px;
  border-radius:30px;
  font-size:10px;
  color:#fff;
  line-height:100px;
  text-align:center;
  /* margin-left: auto; */
}

.chat-bubble {
  position:relative;
  /* padding:1px; */
  margin:0.4em 0 0.4em;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  background:linear-gradient(#f9d835, #f3961c);
  border: #f3961c;
  /* border-radius:1px; */

  display: inline-block;
  clear:both;
  /* float:left; */
  margin-left: auto;
  /* background-color:gray; */
  padding:10px;
  border-radius:20px;
  max-width:400px;
}

/* .switch-picture-position {
  padding-top: 1px;
  width:55px;
  height:55px;
  border-radius:30px;
  font-size:10px;
  color:#fff;
  line-height:100px;
  text-align:center;
  margin-left: auto;
} */

/* .switch-direction {
  float: right;
} */
