* {
  box-sizing: border-box;
}

body {
  padding: 56px;
}

img {
  height: 100px;
  width: 300px;

}


 li {
    list-style-type: none;
}

.chat-window {
    background: red;
}
form textarea {
  margin-top: 50px;
  height: 400px;
}

.header-logo {
  display: flex;
}

.header-logo img {
  justify-content: flex-start;
}




